
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section Styles {
    @* Design Stash Styles *@
    <link href="~/External_Library/DesignStash/designstash-styles.min.css" rel="stylesheet" />
}

    <div class="pl-render-body" ng-controller="HomeController as homeCtrl" layout="column" ng-cloak>
        @* Place HTML Here *@
        <div>Test</div>
    </div>

@section Scripts {
    @* Design Stash Scripts *@
    <script src="~/External_Library/DesignStash/designstash-scripts.min.js"></script>
}

